___

<a href='http://www.pieriandata.com'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Copyright by Pierian Data Inc.</em></center>
<center><em>For more information, visit us at <a href='http://www.pieriandata.com'>www.pieriandata.com</a></em></center>

# Pandas Project Exercise - 

# The Data

The dataset contains a list of all stocks included in the SP500 and associated key financials. <br />

Note that there are multiple viable solutions for most of the tasks!


Acknowledgements
----------------------------
The dataset was originally provided on https://datahub.io/core/s-and-p-500-companies-financials and is licensed under Open Data Commons Public Domain Dedication and License. (https://opendatacommons.org/licenses/pddl/1-0/)

**Task: Import the necessary libraries**

In [1]:
# CODE HERE
import pandas as pd

**Task: Read the two datasets provided in the current directory (also available in the DATA folder. (The file names are: constituents.csv and constituents-financials.csv)**

In [2]:
# CODE HERE
data1 = pd.read_csv('constituents-financials.csv')
data2 = pd.read_csv('constituents.csv')

**Task: List all columns of the two datasets. Additionally retrieve the datatype for each column**

In [3]:
# CODE HERE
# data1.columns
# data2.columns
print(data1.info())
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Symbol          505 non-null    object
 1   Price           505 non-null    float64
 2   Price/Earnings  503 non-null    float64
 3   Dividend Yield  505 non-null    float64
 4   Earnings/Share  505 non-null    float64
 5   52 Week Low     505 non-null    float64
 6   52 Week High    505 non-null    float64
 7   Market Cap      505 non-null    int64
 8   EBITDA          505 non-null    float64
 9   Price/Sales     505 non-null    float64
 10  Price/Book      497 non-null    float64
 11  SEC Filings     505 non-null    object
dtypes: float64(9), int64(1), object(2)
memory usage: 47.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Symbol  505 non-null    object
 1   Name    505 non-null    object
 2   Sector  505 non-null    object
dtypes: object(3)
memory usage: 12.0+ KB
None

**Task: Print the first 5 rows of both datasets**

In [4]:
# CODE HERE
data1.head()

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,http://www.sec.gov/cgi-bin/browse-edgar?action...

In [5]:
data2.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

**Task: Drop the SEC Filings column**

In [6]:
# CODE HERE
data1=data1.drop('SEC Filings',axis=1)
data1

,Symbol,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
0,MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34
1,AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35
2,ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19
3,ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14
4,ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62
...,...,...,...,...,...,...,...,...,...,...,...
500,XYL,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31
501,YUM,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08
502,ZBH,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39
503,ZION,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42
504,ZTS,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09

**Task: Set the Symbol column to the index in the financials dataset**

In [7]:
# CODE HERE
data1 = data1.set_index('Symbol')
data2 = data2.set_index('Symbol')
data1

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34
AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35
ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19
ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14
ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62
...,...,...,...,...,...,...,...,...,...,...
XYL,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31
YUM,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08
ZBH,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39
ZION,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42
ZTS,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09

**Task: What are the 10 largest companies according to market cap?**

In [8]:
# CODE HERE
Sorted = data1['Market Cap'].sort_values(ascending=False)
Sorted.head(10)
# data1['Market Cap'].nlargest(10)

Symbol
AAPL     809508034020
GOOGL    733823966137
GOOG     728535558140
MSFT     689978437468
AMZN     685873374731
FB       523423036576
JPM      386613611000
JNJ      353062464971
XOM      326148660000
BAC      321478200969
Name: Market Cap, dtype: int64

**Task: Return all information about the 10 largest companies according by market cap**

In [9]:
# CODE HERE
# Fsorted = data1.sort_values(['Market Cap'],ascending=False).head(10)
# Fsorted
data1.nlargest(10,'Market Cap')

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AAPL,155.15,16.86,1.579541,9.20,180.1000,131.1200,809508034020,7.938600e+10,3.458609,5.66
GOOGL,1007.71,31.48,0.000000,22.27,1198.0000,824.3000,733823966137,3.421700e+10,6.801692,4.70
GOOG,1001.52,40.29,0.000000,22.27,1186.8900,803.1903,728535558140,3.271400e+10,6.772653,4.67
MSFT,85.01,25.76,1.874791,2.97,96.0700,63.2200,689978437468,4.107900e+10,7.113097,9.49
AMZN,1350.50,296.16,0.000000,6.16,1498.0000,812.5000,685873374731,1.613200e+10,3.927053,24.28
FB,171.58,27.90,0.000000,5.39,195.3200,132.4400,523423036576,2.362400e+10,13.241967,7.08
JPM,107.88,15.43,1.984584,6.30,117.3529,81.6350,386613611000,0.000000e+00,3.371499,1.60
JNJ,126.36,17.31,2.556688,0.39,148.3200,113.1500,353062464971,2.243000e+10,4.632622,4.74
XOM,76.07,21.37,4.003120,1.88,89.3000,76.0500,326148660000,3.905200e+10,1.770194,1.85
BAC,29.74,16.34,1.536000,1.55,32.6700,22.0700,321478200969,0.000000e+00,3.201187,1.24

Note: The difference between GOOG and GOOGL is, that GOOG shares have no voting rights

**Task: Drop GOOG**

In [10]:
# CODE HERE
data1 = data1.drop("GOOG",axis=0)

**Task: How many companies have a dividend yield > 4% ?**

In [11]:
# CODE HERE
highest = data1[data1['Dividend Yield']>4].sort_values('Dividend Yield')
len(highest)

37

**Task: What is the mean Earnings per Share for all companies with a market cap > 1e+11**

In [12]:
# CODE HERE
mean = data1[data1['Market Cap']>100000000000]['Earnings/Share'].mean()
mean

4.746470588235294

**Task: How many companies have a positive earnings per shares ratio?**

In [13]:
# CODE HERE
pos = data1[data1['Earnings/Share']>0]
len(pos)

452

**Task: Which company pays the highest dividend yield? What was its 52 week high?**

In [14]:
# CODE HERE
paymax = data1['Dividend Yield'].max()
high_pay = data1[data1['Dividend Yield']==paymax]['52 Week High']
high_pay
data1.loc[data1['Dividend Yield'].idxmax()]

Price             1.620000e+01
Price/Earnings    8.350000e+00
Dividend Yield    1.266120e+01
Earnings/Share    1.160000e+00
52 Week Low       2.761000e+01
52 Week High      1.316100e+01
Market Cap        1.823720e+10
EBITDA            5.577000e+09
Price/Sales       1.479598e+00
Price/Book        1.390000e+00
Name: CTL, dtype: float64

**Task: Return the company with the largest spread between 52 weeks high and low**

In [15]:
# CODE HERE
''' wrong answer'''
# options = [data1['52 Week High'].max(),data1['52 Week Low'].max()]
# data1[data1['52 Week High'].isin(options)]
# data1[data1['52 Week High']==data1['52 Week High'].max()]
'''right answer'''
abs(data1['52 Week High']-data1['52 Week Low']).idxmax()

'AMZN'

**Task: Return all companies whith a price between \\$ 50 and \\$ 100**

In [16]:
# CODE HERE
# data1[(data1['Price']>49) & (data1['Price']<101)]
data1[data1['Price'].between(50,100)]

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book
Symbol,,,,,,,,,,
AOS,60.24,27.76,1.147959,1.70,68.390,48.925,10783419933,6.010000e+08,3.575483,6.35
ABT,56.27,22.51,1.908982,0.26,64.600,42.280,102121042306,5.744000e+09,3.740480,3.19
ATVI,65.83,31.80,0.431903,1.28,74.945,38.930,52518668144,2.704000e+09,10.595120,5.16
AFL,83.25,12.24,2.429907,11.01,91.730,68.800,33422948000,0.000000e+00,1.542934,1.53
A,65.05,27.45,0.875698,2.10,75.000,49.230,21984606918,1.094000e+09,6.493563,4.56
...,...,...,...,...,...,...,...,...,...,...
XLNX,62.82,27.19,2.090488,2.32,77.260,54.990,17064975551,8.454680e+08,7.101206,7.22
XYL,70.24,30.94,1.170079,1.83,76.810,46.860,12915021000,7.220000e+08,2.726209,5.31
YUM,76.30,27.25,1.797080,4.07,86.930,62.850,27003303098,2.289000e+09,6.313636,212.08
ZION,50.71,17.73,1.480933,2.60,55.610,38.430,10670678640,0.000000e+00,3.794579,1.42
ZTS,71.51,32.80,0.682372,1.65,80.130,52.000,35991109776,1.734000e+09,9.280896,18.09

**Task: The market cap is really hard to read. Create a new column called "Market Cap in Billion" which shows the market cap in billions**

In [17]:
# CODE HERE
# import pandas_module as pm
# data1["Market Cap in Billion"] = data1["Market Cap"].apply(pm.billion)
# (data1)
data1["Market Cap in Billion"] = data1["Market Cap"]/1000000000
data1

,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,
MMM,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055
AOS,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420
ABT,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042
ABBV,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347
ACN,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856
...,...,...,...,...,...,...,...,...,...,...,...
XYL,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,12.915021
YUM,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,27.003303
ZBH,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,24.454698
ZION,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,10.670679
ZTS,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,35.991110

**Task: Is there a correlation between the market cap and the Dividend Yield?**

In [18]:
# CODE HERE
data1[['Market Cap','Dividend Yield']].corr()

                Market Cap  Dividend Yield
Market Cap        1.000000       -0.003506
Dividend Yield   -0.003506        1.000000

**Task: Merge the financials dataframe with the constituents dataframe**

In [19]:
# CODE HERE
data1 = pd.merge(data2,data1,on='Symbol')
data1

,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,,,
MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055
AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420
ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042
ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347
ACN,Accenture plc,Information Technology,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856
...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,12.915021
YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,27.003303
ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,24.454698
ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,10.670679
ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,35.991110

**Task: Print all sectors. How often does each sector occur?**

In [20]:
# CODE HERE
sector = data1['Sector'].value_counts()
sector

Consumer Discretionary        84
Information Technology        69
Financials                    68
Industrials                   67
Health Care                   61
Consumer Staples              34
Real Estate                   33
Energy                        32
Utilities                     28
Materials                     25
Telecommunication Services     3
Name: Sector, dtype: int64

**Task: Replace Information Technology by "IT"**

In [21]:
#CODE HERE
data1['Sector'] = data1['Sector'].replace('Information Technology',"IT")
data1

,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,,,
MMM,3M Company,Industrials,222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055
AOS,A.O. Smith Corp,Industrials,60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420
ABT,Abbott Laboratories,Health Care,56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042
ABBV,AbbVie Inc.,Health Care,108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347
ACN,Accenture plc,IT,150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856
...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,Xylem Inc.,Industrials,70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,12.915021
YUM,Yum! Brands Inc,Consumer Discretionary,76.30,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,27.003303
ZBH,Zimmer Biomet Holdings,Health Care,115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,24.454698
ZION,Zions Bancorp,Financials,50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,10.670679
ZTS,Zoetis,Health Care,71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,35.991110

**Task: Add a \$ before the stock price**

In [22]:
# CODE HERE
# from pandas_module import dollar_siqn
# data1['Price'] = data1['Price'].apply(dollar_siqn)
# data1

In [23]:
data1['Price'] = data1['Price'].apply(lambda price: '$'+str(price))

In [24]:
data1

,Name,Sector,Price,Price/Earnings,Dividend Yield,Earnings/Share,52 Week Low,52 Week High,Market Cap,EBITDA,Price/Sales,Price/Book,Market Cap in Billion
Symbol,,,,,,,,,,,,,
MMM,3M Company,Industrials,$222.89,24.31,2.332862,7.92,259.77,175.490,138721055226,9.048000e+09,4.390271,11.34,138.721055
AOS,A.O. Smith Corp,Industrials,$60.24,27.76,1.147959,1.70,68.39,48.925,10783419933,6.010000e+08,3.575483,6.35,10.783420
ABT,Abbott Laboratories,Health Care,$56.27,22.51,1.908982,0.26,64.60,42.280,102121042306,5.744000e+09,3.740480,3.19,102.121042
ABBV,AbbVie Inc.,Health Care,$108.48,19.41,2.499560,3.29,125.86,60.050,181386347059,1.031000e+10,6.291571,26.14,181.386347
ACN,Accenture plc,IT,$150.51,25.47,1.714470,5.44,162.60,114.820,98765855553,5.643228e+09,2.604117,10.62,98.765856
...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,Xylem Inc.,Industrials,$70.24,30.94,1.170079,1.83,76.81,46.860,12915021000,7.220000e+08,2.726209,5.31,12.915021
YUM,Yum! Brands Inc,Consumer Discretionary,$76.3,27.25,1.797080,4.07,86.93,62.850,27003303098,2.289000e+09,6.313636,212.08,27.003303
ZBH,Zimmer Biomet Holdings,Health Care,$115.53,14.32,0.794834,9.01,133.49,108.170,24454698119,2.007400e+09,3.164895,2.39,24.454698
ZION,Zions Bancorp,Financials,$50.71,17.73,1.480933,2.60,55.61,38.430,10670678640,0.000000e+00,3.794579,1.42,10.670679
ZTS,Zoetis,Health Care,$71.51,32.80,0.682372,1.65,80.13,52.000,35991109776,1.734000e+09,9.280896,18.09,35.991110